fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
groq
pymupdf
httpx
beautifulsoup4
python-dotenv
pydantic